/* NotificationPage.module.css */
.notificationPage {
    padding: 20px;
}

.notificationList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.notificationBox {
    color: black;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    min-width: 200px;
}



.notificationBox {
}

.responseDataBox {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}
