.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 33vh;
    background-color: #f2f2f2;
}

.tabContainer {
    display: flex;
    margin-bottom: 20px;
}

.tabItem {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    background-color: #fff;
    color: black;
    /* Change the text color to black */
}

.activeTab {
    background-color: #007bff;
    color: #fff;
}

.formContainer {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}